body {
    background-image: url("../images/minecraft_office_background_by_goldenfurryofficial-d8hk3k7.png");
    background-repeat: no-repeat;
    background-color: black;
}

#title {
    background-color: antiquewhite;
    color: darkgreen;
    opacity: .8;
}

#instructions {
    background-color: mediumseagreen;
    color: whitesmoke;
    opacity: .8;
}

#winLose {
    background-color: darkkhaki;
    color: darkolivegreen;
    font-weight: bold;
    opacity: .8;
}

#losses {
    padding-left: 10px;
    opacity: .8;
}

#wins {
    height: 50px;
    padding-left: 10px;
    opacity: .8;
}
#rGn {
    background-color: darkolivegreen;
    color: darkkhaki;
    text-align: center;
    font-weight: bold;
    opacity: .8;
    padding-top: 30px;
}

#playerTotalText {
    background-color: deepskyblue;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    opacity: .8;
}

#playerTotalNum {
    background-color: deepskyblue;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    opacity: .8;
}

#crystalImages {
    text-align: left;
}

.crystal {
    margin: 0px 20px 0px 20px;
}

@media screen and (max-width: 1000px) {
    /* body {
        background-image: url("../images/backgroundRotate.png");
        background-repeat: no-repeat;
        background-color: black;
    } */

    #crystalImages {
        text-align: center;
    }

    .crystal {
        margin: 100px 30px 20px 30px;
    }

    row {
        display:block;
    }
}

@media screen and (max-width: 900px) {
    body {
        background-image: url("../images/minecraft_office_background_by_goldenfurryofficial-d8hk3k7.png");
        background-repeat: no-repeat;
        background-color: black;
    }

    #crystalImages {
        text-align: center;
    }

    .crystal {
        margin: 100px 20px 20px 20px;
    }

    row {
        display:block;
    }
}

@media screen and (max-width: 814px) {
body {
    background-image: url("../images/minecraft_office_background_by_goldenfurryofficial-d8hk3k7.png");
    background-repeat: no-repeat;
    background-color: black;
}

#crystalImages {
    text-align: center;
}

.crystal {
    margin: 100px 5px 20px 5px;
}

row {
    display:block;
}
};

@media screen and (max-width: 690px) {
    body {
        background-image: url("../images/backgroundRotate.png");
        background-repeat: no-repeat;
        background-color: black;
    }
    
    #crystalImages {
        text-align: center;
    }
    
    .crystal {
        margin: 10px 5px 0px 5px;
    }

    row {
        display:block;
    }
    }

@media screen and (max-width: 600px) {
    body {
        background-image: url("../images/backgroundRotate.png");
        background-repeat: no-repeat;
        background-color: black;
    }

    #crystalImages {
        text-align: center;
        margin: 60px 0px 0px 0px;
    }

    .crystal {
        margin: 20px 5px 20px 5px;
        height: 125px;
    }

    row {
        display:block;
    }
}